<script th:src="@{/js/GeneralCreateGoogleMaps.js}" type="text/javascript"></script>
<script th:src="@{/js/GoogleMapsApi.js}" type="text/javascript"></script>
<script th:src="@{/js/GoogleMapsUserApi.js}" type="text/javascript"></script>
<script th:src="@{/js/ControlsAdmin.js}" type="text/javascript"></script>
<script th:src="@{/js/loginAdmin.js}" type="text/javascript"></script>
<script th:src="@{/js/AdminTags.js}" type="text/javascript"></script>
<script th:src="@{/js/HambiMenu.js}" type="text/javascript"></script>

<script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script>
<script th:src="@{/js/TextEditorForm.js}" type="text/javascript"></script>